/* App.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #007bff;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}

.content {
  padding: 20px;
}

.content h2 {
  margin-bottom: 10px;
}

.content p {
  margin-bottom: 10px;
}

.content formatting {
  margin-bottom: 10px;
}


.content ul {
  margin-bottom: 10px;
}

.content ul li {
  list-style-type: disc;
  margin-left: 20px;
}

/* Added styles for intro section */
.intro {
  display: flex;
  align-items: center;
}

.engineer-image {
  border: solid 3px;
  padding: 1em;
  max-width: 75%;
  width: 200px;
  height: auto;
  margin-right: 20px;
}
.section-image {
  border: solid 1px;
  padding: 1em;
  max-width: 75%;
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.intro-text {
  color: #333;
}

.intro-video {
  border: solid 1px;
  padding: 1em;
  max-width: 75%;
  width: 200px; 
  height: auto;
  margin-top: 20px;
  
}
